@media all {
    body {
        position: relative;
        margin: 0;
    }
    ul {
        padding-left: 1.5em;
    }
    video {
        display: inline-block;
        vertical-align: baseline;
    }
    a {
        background-color: transparent;
    }
    a:active, a:hover {
        outline: 0;
    }
    h1 {
        font-size: 2em;
        margin: .67em 0;
    }
    img {
        border: 0;
    }
    img {
        vertical-align: middle;
    }
    .img-responsive {
        vertical-align: middle;
        display: block;
        max-width: 100%;
        height: auto;
    }
    h1, h2 {
        margin-top: 22px;
        margin-bottom: 11px;
    }
    h1 {
        font-size: 41px;
    }
    h2 {
        font-size: 34px;
    }
    p {
        margin: 0 0 11px;
    }
    ul {
        margin-top: 0;
        margin-bottom: 11px;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width:768px) {
        .container {
            width: 750px;
        }
    }
    @media (min-width:992px) {
        .container {
            width: 970px;
        }
    }
    @media (min-width:1200px) {
        .container {
            width: 1170px;
        }
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .col-sm-3, .col-md-3, .col-sm-4, .col-md-4, .col-xs-6, .col-sm-6, .col-md-6, .col-xs-12, .col-md-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-xs-6, .col-xs-12 {
        float: left;
    }
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-6 {
        width: 50%;
    }
    @media (min-width:768px) {
        .col-sm-3, .col-sm-4, .col-sm-6 {
            float: left;
        }
        .col-sm-6 {
            width: 50%;
        }
        .col-sm-4 {
            width: 33.33333333%;
        }
        .col-sm-3 {
            width: 25%;
        }
    }
    @media (min-width:992px) {
        .col-md-3, .col-md-4, .col-md-6, .col-md-12 {
            float: left;
        }
        .col-md-12 {
            width: 100%;
        }
        .col-md-6 {
            width: 50%;
        }
        .col-md-4 {
            width: 33.33333333%;
        }
        .col-md-3 {
            width: 25%;
        }
        .col-md-offset-6 {
            margin-left: 50%;
        }
    }
    #colorbox {
        overflow: visible!important;
    }
    #colorbox #cboxWrapper {
        background: none;
        overflow: visible;
    }
    #colorbox #cboxWrapper #cboxContent {
        background: none;
        overflow: visible;
    }
    body {
        font-family: 'Montserrat', sans-serif;
    }
    #navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        border-radius: 0;
        border: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        background: transparent;
    }
    #navbar .logo {
        display: block;
        width: 190px;
        margin-right: 60px;
    }
    #navbar .logo img {
        max-width: 100%;
    }
    #navbar .navbar-header {
        float: left;
    }
    #navbar .navbar-collapse-wrapper {
        float: left;
    }
    #navbar .rigth{
        float: right;
    }
    #navbar .navbar-nav {
        margin-top: 10px;
        margin-left: -15px;
        margin-right: -15px;
    }
    #navbar .navbar-nav>li {
        margin-right: 30px;
        margin-bottom: 8px;
    }
    #navbar .navbar-nav>li:last-of-type {
        margin-right: 0;
    }
    #navbar .navbar-nav>li>a {
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        border-bottom: 3px solid transparent;
        transition: border-color 400ms;
    }
    #navbar .navbar-nav>li>a.phone{
        font-size: 18px;
    }
    #navbar .navbar-nav>li>a.lang{
        font-size: 14px;
    }
    #navbar .navbar-nav>li>a:hover {
        border-color: #f14d34;
    }
    .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        margin-right: 0;
        background-color: transparent;
        border: 0;
    }
    header#navbar {
        margin-bottom: 0;
    }
    @media (max-width:767px) {
        h2 {
            font-size: 24px;
        }
    }
    .navbar-default .navbar-nav>li>a:focus {
        color: #fff;
    }

    @media (max-width: 1200px){
        #navbar .navbar-nav>li>a.phone{
            display: none;
        }
        #navbar .navbar-nav>li>a.lang{
            font-size: 14px;
        }
    }

    @media (max-width:767px) {
        #navbar {
            position: fixed;
            bottom: -2px;
            top: auto;
            z-index: 100;
            left: 0;
            right: 0;
            padding: 0;
            background: #000;
        }
        #navbar .navbar-header {
            position: absolute;
            bottom: 8px;
        }
        #navbar .navbar-collapse-wrapper {
            float: none;
            margin-left: -15px;
            margin-right: -15px;
        }
        body #navbar .navbar-collapse {
            border-top: 0;
            border-bottom: 1px solid #fff;
            top: 0;
        }
        .footer {
            margin-bottom: 52px;
        }
        #navbar .navbar-nav {
            margin-top: 0;
            margin-bottom: 0;
        }
        #navbar .navbar-nav>li a {
            padding: 8px 20px;
            border-bottom: 1px solid #312a2a;
        }
        #navbar .navbar-nav>li>a.phone{
            font-size: 12px;
        }
        #navbar .navbar-nav>li>a.lang{
            font-size: 12px;
        }
        #navbar .navbar-nav>li:last-of-type>a {
            border: 0;
        }
        #navbar .navbar-collapse .navbar-nav>li>a:hover, #navbar .navbar-collapse .navbar-nav>li>a:focus, #navbar .navbar-collapse .navbar-nav>li>a:active {
            color: #f14d34;
            background-color: transparent;
            border-color: #312a2a;
        }
        #navbar .navbar-nav>li {
            margin: 0;
        }
        #navbar .navbar-collapse {
            max-height: calc(100vh - 49px);
            overflow-y: auto;
        }
    }
    .row-flex {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 75px;
    }
    .row-flex:after, .row-flex:before {
        width: 0;
    }
    .block-main {
        overflow: hidden;
        position: relative;
        padding: 130px 0 60px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
    }
    .block-main:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(/img/druplicon.svg) no-repeat left top;
        background-color: rgba(0, 0, 0, .8);
        z-index: 10;
    }
    .block-main h1 {
        font-size: 52px;
        line-height: 60px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .block-main-background video {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 5;
        filter: blur(3px);
        transform: scale(1.04);
    }
    .block-main .container {
        position: relative;
        z-index: 15;
    }
    .support-main-description {
        font-size: 18px;
        line-height: 1.6;
        font-weight: 500;
        color: rgba(255, 255, 255, .8);
        margin-bottom: 55px;
    }
    .block-main-btn {
        display: inline-block;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 1;
        color: #fff;
        text-decoration: none;
        padding: 22px 20px;
        width: 220px;
        max-width: 100%;
        text-align: center;
        border: 2px solid #f14d34;
        border-radius: 5px;
        transition: background 300ms;
        margin-bottom: 45px;
    }
    .block-main-btn:focus, .block-main-btn:hover, .block-main-btn:active {
        background: #f14d34;
        text-decoration: none;
        color: #fff;
    }
}